extends ../layout
block extracss
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css')

block content
  .container
    .py-5.text-center
      h2 Kandidaat aanpassen
  .container
    form(method='post' action="/kandidaten/edit")
      .form-group
        input.form-control(type="hidden", name="id", value=kandidaat._id)
      h4.mb-3 Algemeen
      .row
        .col-lg-3.mb-3
          img(src='/images/profilepictures/' + kandidaat._id + "." + kandidaat.imgext  style="width: 12em; height: 15em")
        .col-lg-9.mb-3
          .row
            .col-lg-4.mb-3
              label(for='voornaam')
                |Voornaam:
              input#voornaam.form-control(name='voornaam' type='text' placeholder='Matthijs' value=kandidaat.voornaam )
              .invalid-feedback
                | Vul een geldig voornaam nummer in.
            .col-lg-4.mb-3
              label(for='familienaam')
                |Familienaam:
              input#familienaam.form-control(name='familienaam' type='text' placeholder='Soetaert' value=kandidaat.familienaam )
              .invalid-feedback
                | Vul een geldig familienaam nummer in.
            .col-lg-4
              .form-group
                -function prettyDate(dateString){
                  -var date = new Date(dateString);
                  -var d = date.getDate();
                  -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
                  -var m = date.getMonth() + 1;
                  -var y = date.getFullYear();
                  -return m+'/'+d+'/'+y;
                -}
                label.control-label(for="week") Week:
                input.form-control#week(name="week" type="text" placeholder="MM/DD/YYYY" value=prettyDate(kandidaat.datum))
          hr
          .row.ml-3
            .col-lg-3.mb-3.pt-2.ml-3
              input.form-check-input#werkplekleren(type="checkbox" value="false" name="werkplekleren")
              label.form-check-label#werkpleklerenLabel(for="werkplekleren") Werkplekleren
            .col-lg-3.mb-3.pt-2.ml-3  
              input.form-check-input#rehire(type="checkbox" value="false" name="rehire")
              label.form-check-label#rehireLabel(for="rehire") Rehire
            .col-lg-3.mb-3.pt-2.ml-3
              input.form-check-input#reguliere(type="checkbox" value="false" name="reguliere")
              label.form-check-label#reguliereLabel(for="reguliere") Reguliere
          hr
          .row
            .col-lg-3.mb-3.pt-2.ml-3
              .ml-4
                input.form-check-input#veiligheid(type="checkbox" value="false" name="veiligheid")
                label.form-check-label#veiligheidLabel(for="veiligheid") Veiligheid geslaagd
              .row
                .col-lg-6
                  input#veiligheidscore.form-control(name='veiligheidscore' type='number' min="0" placeholder='8' value=kandidaat.veiligheidscore )
                  .invalid-feedback
                    | Vul een geldige veiligheidscore in.
                .col-lg-6
                  h4 /15
            .col-lg-3.mb-3.pt-2.ml-3
              .ml-4
                input.form-check-input#cc(type="checkbox" value="false" name="cc")
                label.form-check-label#ccLabel(for="cc") CC geslaagd
              .row
                .col-lg-6
                  input#ccscore.form-control(name='ccscore' type='number' min="0" placeholder='8' value=kandidaat.ccscore )
                  .invalid-feedback
                    | Vul een geldige ccscore in.
                .col-lg-6
                  h4 /12

            .col-lg-3.mb-3.pt-2.ml-3
              .ml-4
                input.form-check-input#takel(type="checkbox" value="false" name="takel" )
                label.form-check-label#takelLabel(for="takel") Takel geslaagd
              .row
                .col-lg-6
                  input#takelscore.form-control(name='takelscore' type='number' min="0" placeholder='8' value=kandidaat.takelscore )
                  .invalid-feedback
                    | Vul een geldige takelscore in.
                .col-lg-6
                  h4 /15
      .row
        .col-lg.mb-3
          .ml-4
            input.form-check-input#gecertificeerd(type="checkbox" value="false" name="gecertificeerd")
            label.form-check-label#gecertificeerdLabel(for="gecertificeerd") Gecertificeerd
      hr.mb-4
      h4.mb-3 Feedback
      .row
        .col-lg-1.mb-3
          h5 Dag 1:
        .col-lg-11.mb-3
          .form-group
            textarea.form-control(rows="4"  name="feedback1") #{kandidaat.feedback1}
      .row
        .col-lg-1.mb-3
          h5 Dag 2:
        .col-lg-11.mb-3
          .form-group
            textarea.form-control(rows="4"  name="feedback2")  #{kandidaat.feedback2}
      .row
        .col-lg-1.mb-3
          h5 Dag 3:
        .col-lg-11.mb-3
          .form-group
            textarea.form-control(rows="4"  name="feedback3")  #{kandidaat.feedback3}
      .row
        .col-lg-1.mb-3
          h5 Dag 4:
        .col-lg-11.mb-3
          .form-group
            textarea.form-control(rows="4"  name="feedback4")  #{kandidaat.feedback4}
      .row
        .col-lg-1.mb-3
          h5 Dag 5:
        .col-lg-11.mb-3
          .form-group
            textarea.form-control(rows="4"  name="feedback5")  #{kandidaat.feedback5}
      hr
      .row
        .col-lg-2.mb-3
          h5 Eindbesluit:
        .col-lg-10.mb-3
          .form-group
            textarea.form-control(rows="6" name="eindbesluit")  #{kandidaat.eindbesluit}
      hr
      hr.mb-4
      .row
        .col
          button.btn.btn-outline-primary.btn-lg.btn-block(type='submit') Aanpassen
        .col
          a.btn.btn-outline-secondary.btn-lg.btn-block#cancel(href="/kandidaten" ) Cancel
        .col
          a.btn.btn-outline-danger.btn-lg.btn-block#cancel(href="/kandidaten/remove?id=" + kandidaat._id ) Remove
      br
      br

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
  script.

    $(document).ready(function(){
        var date_input_week=$('input[name="week"]'); //our date input has the name "date"

        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
            orientation: 'top auto',
            autoclose: true,
            todayHighlight: true,
            startView: 1,
            calendarWeeks: true
    };

    date_input_week.datepicker(options);

    })

  script.
    gecertificeerdCheckbox = $('#gecertificeerd')
    werkpleklerenCheckbox = $('#werkplekleren')
    rehireCheckbox = $('#rehire')
    reguliereCheckbox = $('#reguliere')
    veiligheidCheckbox = $('#veiligheid')
    ccCheckbox = $('#cc')
    takelCheckbox = $('#takel')

    gecertificeerdCheckboxLabel = $('#gecertificeerdLabel')
    werkpleklerenCheckboxLabel = $('#werkpleklerenLabel')
    rehireCheckboxLabel = $('#rehireLabel')
    reguliereCheckboxLabel = $('#reguliereLabel')
    veiligheidCheckboxLabel = $('#veiligheidLabel')
    ccCheckboxLabel = $('#ccLabel')
    takelCheckboxLabel = $('#takelLabel')



    if(!{kandidaat.gecertificeerd}){
        gecertificeerdCheckboxLabel.addClass("active")
        gecertificeerdCheckbox.attr("checked", "checked")
    }

    if(!{kandidaat.werkplekleren}){
        werkpleklerenCheckboxLabel.addClass("active")
        werkpleklerenCheckbox.attr("checked", "checked")
    }

    if(!{kandidaat.rehire}){
        rehireCheckboxLabel.addClass("active")
        rehireCheckbox.attr("checked", "checked")
    }

    if(!{kandidaat.reguliere}){
        reguliereCheckboxLabel.addClass("active")
        reguliereCheckbox.attr("checked", "checked")
    }

    if(!{kandidaat.veiligheid}){
        veiligheidCheckboxLabel.addClass("active")
        veiligheidCheckbox.attr("checked", "checked")
    }

    if(!{kandidaat.cc}){
        ccCheckboxLabel.addClass("active")
        ccCheckbox.attr("checked", "checked")
    }

    if(!{kandidaat.takel}){
        takelCheckboxLabel.addClass("active")
        takelCheckbox.attr("checked", "checked")
    }


    gecertificeerdCheckbox.on('click', function() {
      if($(this).is(':checked')) {
        this.value= "true"

      } else {
        this.value= "false"
      }
    });

    werkpleklerenCheckbox.on('click', function() {
      if($(this).is(':checked')) {
        this.value= "true"
      } else {
        this.value= "false"
      }
    });

    rehireCheckbox.on('click', function() {
      if($(this).is(':checked')) {
        this.value= "true"
      } else {
        this.value= "false"
      }
    });

    reguliereCheckbox.on('click', function() {
      if($(this).is(':checked')) {
        this.value= "true"
      } else {
        this.value= "false"
      }
    });

    veiligheidCheckbox.on('click', function() {
      if($(this).is(':checked')) {
        this.value= "true"
      } else {
        this.value= "false"
      }
    });

    ccCheckbox.on('click', function() {
      if($(this).is(':checked')) {
        this.value= "true"
      } else {
        this.value= "false"
      }
    });

    takelCheckbox.on('click', function() {
      if($(this).is(':checked')) {
        this.value= "true"
      } else {
        this.value= "false"
      }
    });


  script.
    $('#week').select2();

